#/bin/sh

# Set the main password for the root user 'pi'
pi_password={PASSWORD}


# Set the username and password that will be used by the web interfaces
web_username={USERNAME}
web_password={PASSWORD}

expand_rootfs=0
do_os_update=1
do_firmware_update=1
purge_x=1
additional_packages=

usergroup=nzb

media_root=/var/multimedia
film_root=/var/multimedia/films
tv_root=/var/multimedia/tv
music_root=/var/multimedia/music

sab_username=sabnzbd
sab_port=8080
sab_installpath=/usr/local/sabnzbd
sab_datapath=/var/sabnzbd
sab_config=/var/sabnzbd/sabnzbd.ini
sab_download_dir=/var/multimedia/incoming/sabnzbd/incomplete
sab_complete_dir=/var/multimedia/incoming/sabnzbd/complete
sab_complete_dir_films=/var/multimedia/incoming/sabnzbd/complete_films
sab_complete_dir_tv=/var/multimedia/incoming/sabnzbd/complete_tv
sab_complete_dir_music=/var/multimedia/incoming/sabnzbd/complete_music
sab_script_dir=/usr/local/sickbeard/autoProcessTV

sb_port=8081
sb_username=sickbeard
sb_installpath=/usr/local/sickbeard
sb_datapath=/var/sickbeard
sb_config=/var/sickbeard/sickbeard.ini

couch_port=8082
couch_username=couchpotato
couch_installpath=/usr/local/couchpotato
couch_datapath=/var/couchpotato
couch_config=/var/couchpotato/couchpotato.ini

headphones_port=8083
headphones_username=headphones
headphones_installpath=/usr/local/headphones
headphones_datapath=/var/headphones
headphones_config=/var/headphones/headphones.ini

nzbmatrix_enable=0
nzbmatrix_username=
nzbmatrix_api=

nntp_enable=0
nntp_server=
nntp_username=
nntp_password=
nntp_connections=50
nntp_port=563
nntp_ssl=1

xbmc_enable=0
xbmc_host=
xmbc_username=
xbmc_password=