#/bin/sh

# Set the main password for the root user 'pi'
pi_password={PASSWORD}


# Set the username and password that will be used by the web interfaces
web_username={USERNAME}
web_password={PASSWORD}

do_os_update=1
expand_rootfs=1
do_firmware_update=1
purge_x=1

usergroup=nzb

sab_username=sabnzbd
sab_port=8080
sab_installpath=/usr/local/sabnzbd
sab_datapath=/var/sabnzbd
sab_config=/var/sabnzbd/sabnzbd.ini
sab_download_dir=/var/multimedia/incoming/sabnzbd/incomplete
sab_complete_dir=/var/multimedia/incoming/sabnzbd/complete
sab_script_dir=/usr/local/sickbeard/autoProcessTV
sab_web_username=nzb
sab_web_password=nzb

sb_port=8081
sb_username=sickbeard
sb_installpath=/usr/local/sickbeard
sb_datapath=/var/sickbeard
sb_config=/var/sickbeard/sickbeard.ini

couch_port=8082
couch_username=couchpotato
couch_installpath=/usr/local/couchpotato
couch_datapath=/var/couchpotato
couch_config=/var/couchpotato/couchpotato.ini

media_root=/var/multimedia

nzbmatrix_enable=1
snzbmatrix_username={USERNAME}
nzbmatrix_api={APIKEY}

nntp_server={SERVER_ADDRESS}
nntp_username={USERNAME}
nntp_password={PASSWORD}
nntp_connections=50
nntp_port=563
nntp_ssl=1
